USE [master]
GO
/****** Object:  Database [Furniture]    Script Date: 20.04.2022 17:44:53 ******/
CREATE DATABASE [Furniture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Furniture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Furniture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Furniture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Furniture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Furniture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Furniture]
GO
/****** Object:  Table [dbo].[Buyer]    Script Date: 20.04.2022 17:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyer](
	[idBuyer] [int] IDENTITY(1,1) NOT NULL,
	[NameBuyer] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [nvarchar](38) NULL,
 CONSTRAINT [PK_Buyers] PRIMARY KEY CLUSTERED 
(
	[idBuyer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 20.04.2022 17:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[idConttract] [int] IDENTITY(1,1) NOT NULL,
	[ContractNumber] [int] NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[DateOfExecution] [date] NOT NULL,
	[idBuyer] [int] NOT NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[idConttract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keys]    Script Date: 20.04.2022 17:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keys](
	[idKeys] [int] IDENTITY(1,1) NOT NULL,
	[idBuyer] [int] NOT NULL,
	[idConttract] [int] NOT NULL,
	[idModel] [int] NOT NULL,
	[idSale] [int] NOT NULL,
	[idSpecificationsModel] [int] NOT NULL,
 CONSTRAINT [PK_Keys] PRIMARY KEY CLUSTERED 
(
	[idKeys] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 20.04.2022 17:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[idModel] [int] IDENTITY(1,1) NOT NULL,
	[FurnitureName] [nvarchar](255) NOT NULL,
	[Model] [nvarchar](255) NOT NULL,
	[ModelPrice] [money] NOT NULL,
	[idSpecificationsModel] [int] NOT NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[idModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 20.04.2022 17:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[idSale] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[idContract] [int] NOT NULL,
	[idModel] [int] NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[idSale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecificationsModel]    Script Date: 20.04.2022 17:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecificationsModel](
	[idSpecificationsModel] [int] IDENTITY(1,1) NOT NULL,
	[SpecificationsModel] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SpecificationsModel] PRIMARY KEY CLUSTERED 
(
	[idSpecificationsModel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Buyer] FOREIGN KEY([idBuyer])
REFERENCES [dbo].[Buyer] ([idBuyer])
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Buyer]
GO
ALTER TABLE [dbo].[Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_Buyer] FOREIGN KEY([idBuyer])
REFERENCES [dbo].[Buyer] ([idBuyer])
GO
ALTER TABLE [dbo].[Keys] CHECK CONSTRAINT [FK_Keys_Buyer]
GO
ALTER TABLE [dbo].[Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_Contract] FOREIGN KEY([idConttract])
REFERENCES [dbo].[Contract] ([idConttract])
GO
ALTER TABLE [dbo].[Keys] CHECK CONSTRAINT [FK_Keys_Contract]
GO
ALTER TABLE [dbo].[Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_Model] FOREIGN KEY([idModel])
REFERENCES [dbo].[Model] ([idModel])
GO
ALTER TABLE [dbo].[Keys] CHECK CONSTRAINT [FK_Keys_Model]
GO
ALTER TABLE [dbo].[Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_Sale] FOREIGN KEY([idSale])
REFERENCES [dbo].[Sale] ([idSale])
GO
ALTER TABLE [dbo].[Keys] CHECK CONSTRAINT [FK_Keys_Sale]
GO
ALTER TABLE [dbo].[Keys]  WITH CHECK ADD  CONSTRAINT [FK_Keys_SpecificationsModel] FOREIGN KEY([idSpecificationsModel])
REFERENCES [dbo].[SpecificationsModel] ([idSpecificationsModel])
GO
ALTER TABLE [dbo].[Keys] CHECK CONSTRAINT [FK_Keys_SpecificationsModel]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_SpecificationsModel] FOREIGN KEY([idSpecificationsModel])
REFERENCES [dbo].[SpecificationsModel] ([idSpecificationsModel])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK_Model_SpecificationsModel]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Contract] FOREIGN KEY([idContract])
REFERENCES [dbo].[Contract] ([idConttract])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Contract]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Model] FOREIGN KEY([idModel])
REFERENCES [dbo].[Model] ([idModel])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Model]
GO
USE [master]
GO
